video {
  width: 100%;
}

video::-webkit-media-controls {
  display: none;
}

#imageArea {
  position: relative;
}

img {
  width: 100%;
}

#cursor {
  position: absolute;
  background-color: blue;
  opacity: 0.5;
}

th, td {
  padding: 10px;
}

.version {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #ccc;
  color: #333;
  padding: 5px;
}